<mat-card>
  <div>
    <mat-card-title
      >Desarrollo y Procedimientos constructivos para redes de
      alcantarillado.</mat-card-title
    >
  </div>

  <div>
    <mat-card-subtitle
      >En proyecto consiste en el desarrollo de obras en instalación de redes de
      alcantarillado en el área metropolitana, en el cual se
      busca:</mat-card-subtitle
    >
  </div>
  <div>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <h4>
          • Poder obtener las cantidades de obra que comprende cada una de las
          subactividades de la instalación de redes de alcantarillado.
        </h4>
      </mat-list-item>

      <mat-list-item role="listitem">
        <h4>
          •Obtener según los parámetros de obra el equipo de maquinaria pesada o
          mediana mas adecuado para la realización de cada una de las
          subactividades con el fin de obtener un mejor rendimiento y evitar
          retrasos de obra por mala planificación.
        </h4>
      </mat-list-item>

      <mat-list-item role="listitem">
        <h4>
          • Conocer la duración que tendrá cada una de las subactividades con el
          fin de a la hora de realizar contrato poder dar cumplimiento con la
          fecha de terminación estimada y tener como calcular los costos de la
          obra.
        </h4>
      </mat-list-item>

      <mat-list-item role="listitem">
        <h4>
          • Es muy importante saber cuanto costara una obra tanto en nomina como
          en materiales y equipos para saber si un proyecto es viable y se
          obtendrán ganancias.
        </h4>
      </mat-list-item>

      <p>
        Por lo que el programa brinda a los ingenieros que lo usen la
        posibilidad de antes de iniciar las actividades tengan una imagen clara
        después de haber conocido todas las variables iniciales de obra que
        entregan los diseños y las visitas previas a obra de como deberán
        planificar y programar cada una de las actividades con el fin de cumplir
        plazos, disminuir costos y realizar las actividades con la mayor calidad
        posible.
      </p>
    </mat-list>
  </div>
</mat-card>
