@import '~@angular/material/theming';
@include mat-core();

/* ======== angular material custom theme ======== */

// $my-custom-primary: mat-palette($mat-deep-purple);
// $my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
// $my-custom-warn: mat-palette($mat-lime);
$my-custom-primary: mat-palette($mat-indigo);
$my-custom-accent : mat-palette($mat-pink, A200, A100, A400);
$my-custom-warn : mat-palette($mat-deep-orange);
// Light theme
$light-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
// Dark theme
$dark-theme: mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
.light-theme {
    @include angular-material-theme($light-theme)
}

.dark-theme {
    @include angular-material-theme($dark-theme);
}

// Alternate Angular Material Theme
.alternate-theme {
    $my-alternate-primary: mat-palette($mat-red);
    $my-alternate-accent: mat-palette($mat-green, 400);
    $my-alternate-warn: mat-palette($mat-grey);
    $my-alternate-theme: mat-light-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);
    @include angular-material-theme($my-alternate-theme);
}