<section>
    <mat-tab-group>
        <mat-tab label="Parametros de la obra">
            <form [formGroup]="form">
                <div>
                    <mat-grid-list cols="4" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Ubicación</mat-label>
                                    <mat-select ngDefaultControl formControlName="ubicacion" (ngModelChange)="calcularResultados()">
                                        <mat-option *ngFor="let row of ubicaciones" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['ubicacion'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Espesor pavimento(ml)" #espesor_pavimento formControlName="espesor_pavimento">
                                    <mat-error *ngIf="form.controls['espesor_pavimento'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Nivel de tránsito</mat-label>
                                    <mat-select ngDefaultControl (ngModelChange)="calcularResultados()" formControlName="niveldetransito">
                                        <mat-option *ngFor="let row of niveltransito" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['niveldetransito'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Prof prom de excavación(ml)" #promedioExcavacion formControlName="promedioExcavacion">
                                    <mat-error *ngIf="form.controls['promedioExcavacion'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Ancho brecha(ml)" #anchobrecha formControlName="anchobrecha">
                                    <mat-error *ngIf="form.controls['anchobrecha'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Longitud tuberia a excavar(ml)" #longitud_tuberia_excabar formControlName="longitud_tuberia_excabar">
                                    <mat-error *ngIf="form.controls['longitud_tuberia_excabar'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Número de ayudantes" #ayudantes formControlName="ayudantes">
                                    <mat-error *ngIf="form.controls['ayudantes'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Número de oficiales" #oficiales formControlName="oficiales">
                                    <mat-error *ngIf="form.controls['oficiales'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Número de maestros" #maestros formControlName="maestros">
                                    <mat-error *ngIf="form.controls['maestros'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Número de SST" #sst formControlName="sst">
                                    <mat-error *ngIf="form.controls['sst'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Número de Ingenieros" #ingenieros formControlName="ingenieros">
                                    <mat-error *ngIf="form.controls['ingenieros'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Material de cimentación</mat-label>
                                    <mat-select ngDefaultControl formControlName="materialcimentacion" (ngModelChange)="materialcimentacionChange()">
                                        <mat-option *ngFor="let row of materialcimentacion" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['materialcimentacion'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" [placeholder]="placeholderEspesor" #material_cimentacion_espesor formControlName="material_cimentacion_espesor">
                                    <mat-error *ngIf="form.controls['material_cimentacion_espesor'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile *ngIf="form.controls['materialcimentacion'].value === 'arenilla_triturado'">
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" matInput type="text" numeric-decimal decimals="2" placeholder="Espesor Triturado(ml)" #material_cimentacion_espesor_2 formControlName="material_cimentacion_espesor_2">

                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Radio de tubería" #radio_de_tuberia formControlName="radio_de_tuberia">
                                    <mat-error *ngIf="form.controls['radio_de_tuberia'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Material de lleno compactado</mat-label>
                                    <mat-select ngDefaultControl (ngModelChange)="calcularResultados()" formControlName="material_lleno_compactado">
                                        <mat-option *ngFor="let row of materiallenocompactado" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['material_lleno_compactado'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Espesor Mat de lleno compactado" #material_lleno_espesor formControlName="material_lleno_espesor">
                                    <mat-error *ngIf="form.controls['material_lleno_espesor'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Diametro de tuberia(pul)" #diametro_tuberia formControlName="diametro_tuberia">
                                    <mat-error *ngIf="form.controls['diametro_tuberia'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Tipo de rasante provisional</mat-label>
                                    <mat-select ngDefaultControl (ngModelChange)="calcularResultados()" formControlName="tipo_rasante_provisional">
                                        <mat-option *ngFor="let row of tipoderasante" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['tipo_rasante_provisional'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Horarios de trabajo</mat-label>
                                    <mat-select ngDefaultControl (ngModelChange)="calcularResultados()" formControlName="horarios_de_trabajo">
                                        <mat-option *ngFor="let row of horarios" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['horarios_de_trabajo'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Jornadas (Horas)" #jornadas_horas formControlName="jornadas_horas">
                                    <mat-error *ngIf="form.controls['jornadas_horas'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <mat-label>Pmt</mat-label>
                                    <mat-select ngDefaultControl (ngModelChange)="calcularResultados()" formControlName="pmt">
                                        <mat-option *ngFor="let row of pmts" [value]="row.value">
                                            {{row.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['pmt'].errors?.required">{{ requiredField }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Carriles permitidos a intervenir" #carriles_permitidos formControlName="carriles_permitidos">
                                    <mat-error *ngIf="form.controls['carriles_permitidos'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Cama de cimentación (ml)" #cama_de_cimentacion formControlName="cama_de_cimentacion">
                                    <mat-error *ngIf="form.controls['cama_de_cimentacion'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Espesor suelo-cemento (ml)" #espesor_suelo_cemento formControlName="espesor_suelo_cemento">
                                    <mat-error *ngIf="form.controls['espesor_suelo_cemento'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside">
                                <mat-form-field>
                                    <input (change)="calcularResultados()" autocomplete="off" required matInput type="text" numeric-decimal decimals="2" placeholder="Manhole a contruir (und)" #manhole_a_contruir formControlName="manhole_a_contruir">
                                    <mat-error *ngIf="form.controls['manhole_a_contruir'].errors?.required">
                                        {{ requiredField }}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                    </mat-grid-list>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Cantidades de Obra">
            <div>
                <mat-grid-list cols="4" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Corte de pavimento (ml)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['corte_de_pavimento'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Demolición del pavimento (m3)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['demolicion_del_pavimento'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Excavación mecánica</mat-label>
                                <input disabled matInput type="text" [value]="resultados['excavacion_mecanica'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Instalación de tubería</mat-label>
                                <input disabled matInput type="text" [value]="resultados['instalacion_tuberia'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Lleno compactado (m3)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['lleno_compactado'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Rasante temporal (m3)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['rasante_temporal'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="form.controls['materialcimentacion'].value !== 'arenilla_triturado'">
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Cimentación (m3)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['cimentacion'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="form.controls['materialcimentacion'].value === 'arenilla_triturado'">
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Cimentación arenilla (m3)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['cimentacion_arenilla'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>


                    <mat-grid-tile *ngIf="form.controls['materialcimentacion'].value === 'arenilla_triturado'">
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Cimentación triturado (m3)</mat-label>
                                <input disabled matInput type="text" [value]="resultados['cimentacion_triturado'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Botada de material</mat-label>
                                <input disabled matInput type="text" [value]="resultados['botada_material'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Manhole</mat-label>
                                <input disabled matInput type="text" [value]="resultados['manhole'] | number:'1.2-2'">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <mat-label>Cantidad de volquetas</mat-label>
                                <input disabled matInput type="text" [value]="resultados['cantidad_volquetas']">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                </mat-grid-list>

            </div>
        </mat-tab>
        <mat-tab label="Equipo de trabajo ">
            <div>
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngIf="this.form.value.ubicacion != 'zonaverde' ">
                        <h4>Para demolición utilizar -----> </h4> {{ resultados['demolicion'] }}</mat-list-item>
                    <mat-list-item role="listitem">
                        <h4>PMT con excavacion -----> </h4> {{ resultados['pmt_con_excavacion'] }}</mat-list-item>
                    <mat-list-item role="listitem" *ngIf="form.controls['materialcimentacion'].value === 'arenilla' || form.controls['materialcimentacion'].value === 'triturado' ">
                        <h4>Cimentación de tubería -----> </h4> {{ resultados['cimentacion_de_tuberia'] }}</mat-list-item>
                    <mat-list-item role="listitem">
                        <h4>Actividad por jornal -----> </h4> {{ resultados['actividad_por_jornal'] }}</mat-list-item>
                    <mat-list-item role="listitem">
                        <h4>Instalación de tubería -----></h4> {{ resultados['instalacion_de_tuberia'] }}</mat-list-item>
                    <mat-list-item role="listitem">
                        <h4>Botada de material -----> </h4> {{ resultados['botada_material_equipo'] }}</mat-list-item>
                    <mat-list-item role="listitem">
                        <h4>Rasante en la víal -----> </h4> {{ resultados['rasante_en_la_via'] }}</mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="Duración">
            <div>

                <p>Estas son las duraciones de cada una de las actividades por separado, pero la actividad de instalacion de alcantarillado tendra la duracion de la actividad que presente mayor numero de dias.</p>

                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <h4>Corte de pavimento -----> </h4> {{ resultados['rendimiento_corte_de_pavimento'] }} días </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="this.form.value.ubicacion != 'zonaverde' ">
                        <h4>Demolición del pavimento -----> </h4> {{ resultados['rendimiento_demolicion_del_pavimento'] }} días </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Excavación mecánica-----> </h4> {{ resultados['rendimiento_excavacion_mecanica'] }} días </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>{{ texto }} -----> </h4> {{ resultados['rendimiento_arenilla_o_triturado_o_mas_triturado'] }} días </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Instalación de tubería-----> </h4> {{ resultados['rendimiento_instal_tuberia'] }} días </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Lleno compactado-----> </h4> {{ resultados['rendimiento_lleno_compactado'] }} días </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Rasante temporal-----> </h4> {{ resultados['rendimiento_rasante_temporal'] }} días </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Orden y aseo -----> </h4> {{ resultados['rendimiento_orden_y_aseo'] }} horas</mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Construcción de manhole -----> </h4> {{ this.resultados['rendimiento_manhole'] }} horas</mat-list-item>


                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="Costos">
            <div>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <h4>Corte de pavimento -----> </h4>COP {{ resultados['costo_corte_de_pavimento'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_demolicion_martillo_neumatico'] > 0">
                        <h4>Demolición Martillo neumatico -----> </h4>COP {{ resultados['costo_demolicion_martillo_neumatico'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_mini_retro'] > 0">
                        <h4>Demolición con mini retro -----> </h4>COP {{ resultados['costo_mini_retro'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_excavacion_mini_retro'] > 0">
                        <h4>Excavación con mini retro -----> </h4>COP {{ resultados['costo_excavacion_mini_retro'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_excavacion_mini_cargador_con_martillo_bocat'] > 0">
                        <h4>Excavación con bocat -----> </h4>COP {{ resultados['costo_excavacion_mini_cargador_con_martillo_bocat'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_mini_cargador_con_martillo_bocat'] > 0">
                        <h4>Demolición con bocat -----> </h4>COP {{ resultados['costo_mini_cargador_con_martillo_bocat'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="this.resultados['costo_excavacion_mecanica_con_pajarita'] > 0">
                        <h4>Excavación mecánica con pajarita -----> </h4>COP {{ resultados['costo_excavacion_mecanica_con_pajarita'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="this.resultados['costo_excavacion_mecanica_con_retro_120'] > 0">
                        <h4>Excavación mecánica con retroexcavadora 120 -----> </h4>COP {{ resultados['costo_excavacion_mecanica_con_retro_120'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="this.resultados['costo_excavacion_mecanica_con_retro_320'] > 0">
                        <h4>Excavación mecánica con retroexcavadora 320 -----> </h4>COP {{ resultados['costo_excavacion_mecanica_con_retro_320'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="this.resultados['costo_demolicion_mecanica_con_retro_120'] > 0">
                        <h4>Demolición mecánica con retroexcavadora 120 -----> </h4>COP {{ resultados['costo_demolicion_mecanica_con_retro_120'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="this.resultados['costo_demolicion_mecanica_con_retro_320'] > 0">
                        <h4>Demolición mecánica con retroexcavadora 320 -----> </h4>COP {{ resultados['costo_demolicion_mecanica_con_retro_320'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_de_cimentacion_triturado'] > 0">
                        <h4>Cimentación triturado -----> </h4>COP {{ resultados['costo_de_cimentacion_triturado'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_de_cimentacion_arenilla'] > 0">
                        <h4>Cimentación arenilla -----> </h4>COP {{ resultados['costo_de_cimentacion_arenilla'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="resultados['costo_de_cimentacion_arenilla_mas_triturado'] > 0">
                        <h4>Cimentación arenilla + triturado -----> </h4>COP {{ resultados['costo_de_cimentacion_arenilla_mas_triturado'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Instalación de tubería -----> </h4>COP {{ resultados['costo_instalacion_de_tuberia'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Lleno compactado -----> </h4>COP {{ resultados['costo_lleno_compactado'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Rasante temporal -----> </h4>COP {{ resultados['costo_rasante_temporal'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Botada de Material -----> </h4>COP {{ resultados['costo_botada_material'] | currency }} </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Manhole -----> </h4>COP {{ resultados["costo_manhole"] | currency }} </mat-list-item>

                    <mat-list-item role="listitem">
                        <h4>Costo del personal {{ this.form.value.horarios_de_trabajo }}-----> </h4>COP {{ resultados["costo_personal"] | currency }} </mat-list-item>

                </mat-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>